{% use "blocks.html.twig" %} 
{% set attr = modal.attr|default({})|merge( {'role':'dialog'} )|add_class('modal') %}
{% set data_opt = modal.d|default({}) %} 
<div {{ block('attributes') }} {{ block('data_options') }} >
    {% set attr = modal.dialog.attr|default({})|add_class('modal-dialog') %}
    {% set data_opt = modal.dialog.d|default({}) %}
    <div {{ block('attributes') }} {{ block('data_options') }}>
        <div class="modal-content">
            {% block modal_content %}
                {% if modal.content is defined and modal.content is not empty %}
                    {% include modal.content %}    
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
