<div class="row-blocks">
        <div class="col-6">
            {{form_field(form.client)}}  
        </div>
        <div class="col-6">
            {{form_field(form.type)}}  
        </div>
        <div class="col-12">
            {{form_field(form.content)}}  
        </div>
    </div>
    